<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main>

    <section id="cart">
        <div class="title-section title-section-login">
            <h2>Itens na sacola</h2>
        </div>
        <% if (selectedItens!==undefined) { %>        
            <% for(let item of selectedItens){ %>
                <div class="cart-item">
                    <div class="cart-item-img">
                        <img src="/img/<%= item.image %>" alt="<%= item.name %>">
                    </div>
                    <div class="cart-item-details">
                        <p><%= item.name %></p>
                        <p>Preço unitário: <%= parseFloat(item.price).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></p>
                        <div>
                            <button class="decrement"> - </button>
                            <input type="number" class="quantity-btn" min="1" max="20" step="1" value="<%= item.quantity %>" data-id="<%= item.id %>" readonly>
                            <button class="increment"> + </button>
                        </div>
                        
                        <p>Quantidade: <%= item.quantity %></p> 
                        <p>Total: <%= parseFloat(item.total).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></p>                  

                    </div>
                    <div class="cart-item-trash">
                        <a href="/carrinho/<%= item.id %>/remover">
                            <img class="cart-item-trash-img" src="/img/trash_icon.svg" alt="Remover item">                  
                        </a>
                    </div>
                </div>
                <% } %> 
            <div>
                <h3>Resumo do Pedido</h3>
                <div>
                    <h4>Subtotal:</h4>
                    <p><%= totalPrice.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></p>
                </div>
                <div>
                    <h4>Frete:</h4>
                    <p><%= freight.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></p>
                </div>
                <div>
                    <h4>Total:</h4>
                    <p><%= (freight + totalPrice).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></p>
                </div>
            </div>
            <div id="cart-buttons-container">
                <a href="/checkout">
                    <button type="button" class="btn-edit-forms cart-button col-12 col-md-6">Finalizar compra</button>
                </a>
                <a href="/produtos">
                    <button type="button" class="btn-outline cart-button col-12 col-md-6">Continuar comprando</button>
                </a>
                <a href="/carrinho/esvaziar">
                    <button type="button" class="btn-outline cart-button col-12 col-md-6">Esvaziar sacola</button>
                </a>
            </div>
        <% } else {%>
            <div id="empty-bag">
                <h3>A sacola está vazia.</h3>  
            </div>
        <% } %>
    </section>

<%- include("./partials/footer")%>
