<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main>

    <section id="cart">
        <div class="title-section title-section-login">
            <h2>Itens na sacola</h2>
        </div>
        <% if (selectedItens!==undefined) { %>        
            <% for(let item of selectedItens){ %>
                <div class="cart-item">
                    <div class="cart-item-img">
                        <img src="/img/<%= item.image %>" alt="<%= item.name %>">
                    </div>
                    <div class="cart-item-details">
                        <p><%= item.name %></p>
                        <p>Preço: R$ <%= item.price.replace(".",",") %></p>
                        <p>Quantidade: <%= item.quantity %></p>                  
                    </div>
                    <div class="cart-item-trash">
                        <a href="">
                            <img class="cart-item-trash-img" src="/img/trash_icon.svg" alt="Remover item">                  
                        </a>
                    </div>
                </div>
            <% } %> 
            <div id="cart-buttons-container">
                <a href="/checkout">
                    <button type="button" class="btn-edit-forms cart-button col-12 col-md-6">Finalizar compra</button>
                </a>
                <a href="/produtos">
                    <button type="button" class="btn-outline cart-button col-12 col-md-6">Continuar comprando</button>
                </a>
                <a href="/carrinho/esvaziar">
                    <button type="button" class="btn-outline cart-button col-12 col-md-6">Esvaziar sacola</button>
                </a>
            </div>
        <% } else {%>
            <div id="empty-bag">
                <h3>A sacola está vazia.</h3>  
            </div>
        <% } %>
    </section>

<%- include("./partials/footer")%>
